In [1]:
import pandas as pd

In [10]:
planes = pd.read_csv('data/planes_features.csv')
planes = pd.get_dummies(planes, columns=['type'])
planes.head()

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,type_VTRA,type_VTUR,type_WACF,type_WAIX,type_WB57,type_WHK2,type_WW24,type_XL2,type_ZZZZ,type_unknown
0,A,0.120253,0.075949,0.183544,0.335443,0.284810,0.088608,0.044304,0.069620,0.120253,...,0,0,0,0,0,0,0,0,0,0
1,A00000,0.211735,0.155612,0.181122,0.198980,0.252551,0.204082,0.183673,0.168367,0.173469,...,0,0,0,0,0,0,0,0,0,0
2,A00002,0.517241,0.103448,0.103448,0.103448,0.172414,0.862069,0.137931,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3,A00008,0.125000,0.041667,0.208333,0.166667,0.458333,0.125000,0.083333,0.125000,0.166667,...,0,0,0,0,0,0,0,0,0,0
4,A0001E,0.100000,0.200000,0.200000,0.400000,0.100000,0.100000,0.000000,0.100000,0.400000,...,0,0,0,0,0,0,0,0,0,0

In [12]:
train = pd.read_csv('data/train.csv')
train.head()

   adshex    class
0  A00C4B  surveil
1  A0AB21  surveil
2  A0AE77  surveil
3  A0AE7C  surveil
4  A0C462  surveil

In [19]:
df = pd.merge(planes, train, how = 'inner', on = 'adshex')

In [20]:
df['class'].value_counts()

other      500
surveil     97
Name: class, dtype: int64

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [27]:
X = df.drop(['class', 'adshex'], axis = 1)
y = df['class']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state = 42)

In [29]:
rfc = RandomForestClassifier(random_state=42)

In [30]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=42,
            verbose=0, warm_start=False)

In [31]:
rfc.score(X_train, y_train)

0.9910514541387024

In [32]:
rfc.score(X_test, y_test)

0.96

In [39]:
pd.DataFrame({
     'features': X.columns,
     'importances':rfc.feature_importances_
}).sort_values(by = 'importances', ascending = False).head(10)

         features  importances
21         steer2     0.216088
29       squawk_1     0.127631
20         steer1     0.099738
122     type_C182     0.051471
10         speed1     0.035609
8          boxes4     0.033525
17      altitude3     0.031458
30   observations     0.029425
16      altitude2     0.029014
24         steer5     0.026885